
body{
    overflow: hidden;
    position: relative;

}
.orangeColour{
    max-width: 100%;
    background-color: orangered;
    height: 200px;
    transform-origin: bottom right;
    transform: rotate(-20deg);
    border-radius: 20px;

}
.mainCont{
    display: flex;
    flex-direction: row;
    position: absolute;
    background-image: url("../../assets/bookswithglasses.jpg") ;
    width: 55%;
    height: 400px;
    z-index: 1;
    top: 80px;
    transform: translate(500px);
    justify-content: space-evenly;
    opacity: 10;


}
.navbar{
    background-color: black;
    width: 55%;
    height: 70px;
    position: absolute;
    z-index: 1;
    transform: translate(500px);
    top: 10px;
    display: flex;
    flex-direction: row;
}
.navbar > p{
  color: white;
    padding-left: 10px;
    font-family: Algerian;
}

.navbar >article{
    padding-left: 220px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.navbar > article >p >a{
    color: white;
    text-decoration: none;


}
.search{
    font-size: 30px;
    padding-top: 200px;
    padding-left: 80px;
    position: absolute;
    z-index: 1;
    color: white;
}
.footer {
    background-color: orangered;
    width: 55%;
    height: 100px;
    position: absolute;
    z-index: 1;
    transform: translate(500px);
    top: 480px;
}

.footer div{
    display: flex;
    flex-direction: row;
    gap:100px;
    padding-left: 70px;

}

.footer div  button {
    width: 200px;
    height:40px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px;


}

.mainCont > div >.pt{
    font-size: 40px;
    color: white;
    font-family: Algerian;
}
.mainCont > div >.readNow{
    background-color:white;
    color: black;
    width: 80px;
    height: 30px;
    padding-left: 4px;
    border-radius: 8px;
    margin-top: 20%;
    padding-top: 3px;
}

.mainCont > img{
    height: 300px;
    width: 220px;
    border-radius: 3px;
}